.footer__navlink {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
}
.footer__navlink img {
  width: 4rem;
}
.footer__content {
  row-gap: 5rem;
}
.footer__title {
  margin-bottom: 1.6rem;
}
.footer__links {
  display: flex;
  justify-content: space-around;
}
.footer__links li {
  margin-right: 1rem;
}
.footer__links li a {
  transition: var(--transition);
}
.footer__links li a:hover {
  color: var(--robin-blue-color);
}

@media only screen and (min-width: 768px) {
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .footer__content {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    text-align: left;
  }
}
